<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<div align="center">
    <h1>유저</h1>
    <p>
        마이프로필
    </p>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">

                <p>사용자 이메일</p>
                [[${session.user.email}]]

                <a href="/logout" class="btn btn-info active" role="button">Logout</a>

            </div>
        </div>

    </div>
</body>
</html>
